<div class="container">
    <img src="~/images/faleconosco.png" alt="Fale Conosco"/>
    <div class="jumbotron">
        <h3>Queremos ouvir o que você tem a nos dizer</h3>
        <p>
            Se você tiver alguma dúvida ou sugestão fale conosco
        </p>
        <p>
            <span>
                <img src="~/images/envelope.png"/>
            </span>
            <h5><email endereco="wesleyfirmino374@gmail.com" conteudo="Enviar um e-mail">Enviar um e-mail</email></h5>
            <br />
            <span>
                <img src="~/images/phone.png"/>
            </span>
            <h5>(19) 9 99254-7839</h5>
            <br />
            <span>
                <img src="~/images/Home.png"/>
            </span>
            <h5>Av. Juscelino Kubichek 1000 - 03540-555 - São Paulo</h5>
        </p>
    </div>
</div>
